
@{
    ViewBag.Title = "Import Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    About
                    <strong>@ViewBag.Title</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="~/img/imp-expo-services.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>This is a great place to introduce our company and describe what we do.</p>
                <p>
                    We are a service oriented Import/Export company which deals in the following
                    <ol>
                        1.Biorganic products
                    </ol>
                    <ol>
                        2.Chemical Fertilizer
                    </ol>
                    <ol>
                        3.Gemstone
                    </ol>
                </p>
                <p>
                    Our Mission — Import/Export Portal’s mission is to simplify business anywhere in the world. By being the hub of global business, we provide Sellers the necessary space for their products to reach a wider audience. This helps buyers find products faster and more efficiently.</p>

                <b style="font-family:'Times New Roman'; color:Highlight;">
                    ONE STOP-SHOP
                </b>
                <p>
                    We are the portal that facilitates transactions between small businesses everywhere in the world. With several categories ranging from consumer electronics, machinery, glassware, and food and agricultural produce, Buyers can securely shop online and interact with thousands of Sellers and Shippers.
                </p>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/img/team-1.jpg" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/img/team-2.jpg" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/img/team-3.jpg" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/img/team-3.jpg" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>




